<!DOCTYPE html>
<html>
<head>
  <title>Example Calc</title>
<style>
.selected-op {
  background-color: yellow;
}
</style>
</head>
<body>
  <div id="app">

    <div>
      A:
      <numpad v-bind:num.sync="a"/>
    </div>

    <div>
      <template v-for="s in ['+', '-', '*', '/']">
        <label v-bind:class="{'selected-op': op == s}" >
          <input type="radio" value="{{s}}" v-model="op"/>
          {{s}}
        </label>
      </template>
    </div>

    <div>
      B:
      <numpad v-bind:num.sync="b"/>
    </div>

    <div>
      <template v-if="c == null">
      計算結果: a={{ a }}, b={{ b }}
      </template>
      <template v-else>
      計算結果: {{ a }} {{ op }} {{ b }} = {{ c }}
      </template>
    </div>

  </div>

  <script src="bundle.js"></script>
</body>
</html>
